*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* contenitore pagina principale */
#container{
  margin: 1%;
}

/* intestazione */
header{
  height: 200px;
  background-color: yellow;
}

/* contenuto principale */
aside{
  width: 24%;
  background-color: pink;
  float: left;
  /* debug */
  height: 300px;
}

section{
  width: 50%;
  background-color: purple;
  float: left;
  margin: 0 1%;
  /* debug */
  height: 650px;
}

/* footer */
footer{
  height: 100px;
  background-color: lightblue;
}
